<form action="/event/edit?event_id={{event._id}}" method="post">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{event.title}}"">

  <label for="">Event Details:</label>
  <input type="text" name="detail" value="{{event.detail}}"">

  <label for="">Location:</label>
  <input type="text" name="location" value="{{event.location}}"">

  <label for="">Review:</label>
  <input type="number" name="review" value="{{event.review}}"">

  <button type="submit">EDIT</button>
</form>

 

